<!DOCTYPE html>
<html>

<body style="font-family: Arial, sans-serif; line-height: 1.6; background-color: #f4f4f4; padding: 20px;">
  <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
    <h2 style="color: #333333;">Bonjour, [[${username}]] </h2>
    <p>Voici votre code de vérification (OTP) :</p>

    <div style="text-align: center; margin: 20px 0;">
      <p style="font-size: 32px; font-weight: bold; color: #2d89ef;">[[${otp_code}]]</p>
    </div>

    <p>Ce code est valable pendant <strong>5 minutes</strong>.</p>

  </div>
</body>
</html>
